* {
  font-family: "Verdana";
  background-color: black;
}

#header {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

#video{
  text-align: center;
}

p {
  font-size: 21px;
  color: Gray;
}

#guide {
  text-align: center;
}

#download {
  text-align: center;
}

#footer {
  text-align: right;
  color: Gray;
}
